// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 810px;
$layout-breakpoint-xsmall: 480px;

// Colors
$background: #080808;
$background-two: #080400;
$secondary: #c2a06d;
$white: #ffffff;
$black: #24242a;
